<!-- Header Component Template -->
<header class="header" id="header">
    <div class="header__container">
        <a href="/" class="header__logo">
            <div class="header__logo-icon">
                S
            </div>
            StartAnime
        </a>

        <nav class="header__nav" id="headerNav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="/" class="header__nav-link">Home</a>
                </li>
                <li class="header__nav-item">
                    <a href="/recommend.html" class="header__nav-link">Find Anime</a>
                </li>
                <li class="header__nav-item">
                    <a href="#genres" class="header__nav-link">Genres</a>
                </li>
                <li class="header__nav-item">
                    <a href="#top-anime" class="header__nav-link">Top 5</a>
                </li>
            </ul>
            <a href="/recommend.html" class="header__cta">Get Started</a>
        </nav>

        <button class="header__menu-toggle" id="menuToggle" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header> 